#page-wrap {
    width: 800px;
    margin: 0 auto;
}
header {
    padding: 20px 0;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header p {
    padding: 0 5px;
    margin: 0;
}
p.del-journal a {
    color: red;
    margin-bottom: 0;
}
p.edit-journal, p.del-journal {
    color: blue;
    margin-bottom: 0;
}
div.flex header {
    background: #d2cdcd;
    font-size: 30px;
}
footer.container{
    background: #d2cdcd;
}
header.container{
    padding-top: 0px;
    padding-bottom: 0px;
}
div.flex{
    margin-top: 20px;
}
div.container.flex {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 10px;
}
div.container.flex .col-sm-4 {
    padding: 10px;
}
div.container.flex .col-sm-4 > *{
    border: .5px solid #e3e3e3;
}
header .row,
footer .row {
    display: flex;
    align-items: center;
}