<h1>Login</h1>
{% if error %}
    <div>
        {{ error }}
    </div>
{% endif %}
<form action="{% url 'users:login_custom' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <p>Use the form above to create a post. Make sure you fill the required title and body fields and then press submit.</p>
    <input type="submit" value="Login" class="btn btn-primary pull-right" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>