{% extends 'users/base.html' %}
{% block head %}
    Signup
{% endblock %}
{% block body %}
    <div class="main_page">
        <h1>Signup</h1>
        {% if error %}
            <div>
                {{ error }}
            </div>
        {% endif %}
        <form action="{% url 'users:signup_custom' %}" method="post">
            {% csrf_token %}
            <div class="form-group col-md-6">
                <label>Name</label>
                <input name="name" type="text" placeholder="e.g. John Doe" class="form-control"/>
            </div>

            <div class="form-group col-md-6">
                <label>Email</label>
                <input name="email" type="email" placeholder="johndoe@gmail.com" class="form-control"/>
            </div>

            <div class="form-group col-md-6">
                <label>Username</label>
                <input name="username" type="text" placeholder="username" class="form-control"/>
            </div>

            <div class="form-group col-md-6">
                <label>Password</label>
                <input name="password" type="password" placeholder="password" class="form-control"/>
            </div>
            
            <div class="form-group col-md-6">
                <label>Confirm Password</label>
                <input name="confirm_password" type="password" placeholder="confirm password" class="form-control"/>
            </div>
            
            <div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-info"/>
                <a href="{% url 'users:login_custom' %}" class="btn btn-success">Login</a>
            </div>
            
        </form>
    </div>
{% endblock %}