div.main_page {
    width: 500px;
    margin: auto;
    /* text-align: center; */
}
.row {
    text-align: center;
}
.row h4 {
    display: inline-block;
}
div.footer {
    display: flex;
    justify-content: space-between;   
}
.footer .btn.btn-success, .btn.btn-info {
    float: right;
}
/* .btn.btn-info {
    flo
} */